Bibek shiwakoti
c0898100

In [80]:
import pandas as pd

# 1- From a list of lists

In [185]:
data = [['John',25],['Alice',35],['Bob',28]]

In [186]:
df = pd.DataFrame(data,columns=['Name','Age'])

In [187]:
df

    Name  Age
0   John   25
1  Alice   35
2    Bob   28

# From a Dictionary

In [188]:
data = {'Name':['John','Alice','Bob'], 'Age': [25,35,28]}

In [189]:
pd.DataFrame(data)

    Name  Age
0   John   25
1  Alice   35
2    Bob   28

# From a list of Dictionaries

In [190]:
data = [{'Name':'John','Age':25},{'Name':'Alice','Age':35},{'Name':'Bob','Age':28},]

In [191]:
pd.DataFrame(data)

    Name  Age
0   John   25
1  Alice   35
2    Bob   28

# From a numpy array

In [192]:
import numpy as np
data = np.array([['John',25],['Alice',35],['Bob',28]])
pd.DataFrame(data,columns=['Name','Age'])

    Name Age
0   John  25
1  Alice  35
2    Bob  28

In [193]:
people = {'first':['John','Alice','Bob'],'last':['Schefar','Doe','Doe'],'email':['john@gmail.com','alice@outlook.com','bob@outlook.com']}

In [194]:
df = pd.DataFrame(people)

In [195]:
df

   first     last              email
0   John  Schefar     john@gmail.com
1  Alice      Doe  alice@outlook.com
2    Bob      Doe    bob@outlook.com

In [196]:
type(df)

pandas.core.frame.DataFrame

In [197]:
df['last']

0    Schefar
1        Doe
2        Doe
Name: last, dtype: object

In [198]:
df.email #this way is less better because there might already be some built in function in python

0       john@gmail.com
1    alice@outlook.com
2      bob@outlook.com
Name: email, dtype: object

In [199]:
df['email'] # this way is better

0       john@gmail.com
1    alice@outlook.com
2      bob@outlook.com
Name: email, dtype: object

In [200]:
df[['email','first']]

               email  first
0     john@gmail.com   John
1  alice@outlook.com  Alice
2    bob@outlook.com    Bob

In [201]:
list(df.columns) # or df.columns.tolist()

['first', 'last', 'email']

In [202]:
# accessing rows
df.iloc[1]

first                Alice
last                   Doe
email    alice@outlook.com
Name: 1, dtype: object

In [203]:
df.iloc[[0,2]]

  first     last            email
0  John  Schefar   john@gmail.com
2   Bob      Doe  bob@outlook.com

In [204]:
df.iloc[[0,2],2]

0     john@gmail.com
2    bob@outlook.com
Name: email, dtype: object

In [205]:
df.loc[0]

first              John
last            Schefar
email    john@gmail.com
Name: 0, dtype: object

In [206]:
df.loc[[0,2],'email']

0     john@gmail.com
2    bob@outlook.com
Name: email, dtype: object

In [207]:
df.set_index('first',inplace=False)

          last              email
first
John   Schefar     john@gmail.com
Alice      Doe  alice@outlook.com
Bob        Doe    bob@outlook.com

In [208]:
df

   first     last              email
0   John  Schefar     john@gmail.com
1  Alice      Doe  alice@outlook.com
2    Bob      Doe    bob@outlook.com

In [209]:
#df.loc['John']

In [210]:
df.index.name = 'Employee_first_name'

In [211]:
df

                     first     last              email
Employee_first_name
0                     John  Schefar     john@gmail.com
1                    Alice      Doe  alice@outlook.com
2                      Bob      Doe    bob@outlook.com

In [212]:
df.index =['Emp1','Emp2','Emp3']

In [213]:
df

      first     last              email
Emp1   John  Schefar     john@gmail.com
Emp2  Alice      Doe  alice@outlook.com
Emp3    Bob      Doe    bob@outlook.com

In [217]:
df.loc[1] =['Alice','Green','alice@outlook.com' ]

In [221]:
df.loc[0,'first','email'] ='Tom'
df

      first     last              email
Emp1   John  Schefar     john@gmail.com
Emp2  Alice      Doe  alice@outlook.com
Emp3    Bob      Doe    bob@outlook.com
1     Alice    Green  alice@outlook.com
2       Tom      NaN                NaN

In [218]:
df.columns = df.columns.str.replace("_",' ')
df

      first     last              email
Emp1   John  Schefar     john@gmail.com
Emp2  Alice      Doe  alice@outlook.com
Emp3    Bob      Doe    bob@outlook.com
1     Alice    Green  alice@outlook.com

In [215]:
df.rename(columns={'First Name1':first})

NameError: name 'first' is not defined

In [216]:
df= df.rename(bv,inplace=True)

NameError: name 'bv' is not defined

In [223]:
df.columns= [col+'' for col in df.columns]

## Filtering

In [124]:
list(df.columns)

['col1', 'col2', 'col3']

In [110]:
filter_last_name =(df['last'] =='Doe')

In [111]:
df[df['last']=='Doe']

      first last              email
Emp2  Alice  Doe  alice@outlook.com
Emp3    Bob  Doe    bob@outlook.com

In [112]:
filter_last_name= (df['last']=='Doe')
df.loc[filter_last_name,'email']

Emp2    alice@outlook.com
Emp3      bob@outlook.com
Name: email, dtype: object

In [113]:
df.loc[~filter_last_name]

     first     last           email
Emp1  John  Schefar  john@gmail.com

In [114]:
df.loc[filter_last_name]

      first last              email
Emp2  Alice  Doe  alice@outlook.com
Emp3    Bob  Doe    bob@outlook.com

In [115]:
d= {'col1':[2,6,12,-1],'col2':[4,8,11,-2],'col3':['fish','stylish','orange','mango']}

In [116]:
df =pd.DataFrame(d)
df

   col1  col2     col3
0     2     4     fish
1     6     8  stylish
2    12    11   orange
3    -1    -2    mango

In [117]:
df[df['col3'].str.startswith('fi')]

   col1  col2  col3
0     2     4  fish

In [118]:
df[  (df['col2']>4) & (df['col1']<9)]

   col1  col2     col3
1     6     8  stylish

In [119]:
lst = [11,4,-2]

In [120]:
df[df['col2'].isin(lst)]

   col1  col2    col3
0     2     4    fish
2    12    11  orange
3    -1    -2   mango

In [121]:
#df.loc[0:2] # here 2 is inclusivs

In [122]:
df.iloc[0:2] # here 2 is exclusive

   col1  col2     col3
0     2     4     fish
1     6     8  stylish

In [126]:
df= pd.read_csv('../data/survey_results_public.csv')

In [127]:
df.head()
#or df.head(8)

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0

In [128]:
df.shape

(89184, 84)

In [129]:
df.tail()

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
89179,89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89180,89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89181,89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89182,89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89183,89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [130]:
df['Age']

0           18-24 years old
1           25-34 years old
2           45-54 years old
3           25-34 years old
4           25-34 years old
                ...
89179       25-34 years old
89180       18-24 years old
89181     Prefer not to say
89182    Under 18 years old
89183       35-44 years old
Name: Age, Length: 89184, dtype: object

In [131]:
import re

In [132]:

def calculate_average_from_range(age_range):
    # Extract numerical values using regular expression
    match = re.match(r'(\d+)-(\d+)', age_range)
    
    if match:
        lower, upper = map(int, match.groups())
        average = (lower + upper) / 2
        return average
    else:
        return None

# Apply the function to the 'age' column
df['Age'] = df['Age'].apply(calculate_average_from_range)

In [133]:
df['Age']
#df['Age_average']

0        21.0
1        29.5
2        49.5
3        29.5
4        29.5
         ...
89179    29.5
89180    21.0
89181     NaN
89182     NaN
89183    39.5
Name: Age, Length: 89184, dtype: float64

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 84 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ResponseId                           89184 non-null  int64
 1   Q120                                 89184 non-null  object
 2   MainBranch                           89184 non-null  object
 3   Age                                  83436 non-null  float64
 4   Employment                           87898 non-null  object
 5   RemoteWork                           73810 non-null  object
 6   CodingActivities                     73764 non-null  object
 7   EdLevel                              87973 non-null  object
 8   LearnCode                            87663 non-null  object
 9   LearnCodeOnline                      70084 non-null  object
 10  LearnCodeCoursesCert                 37076 non-null  object
 11  YearsCode                            87435 non-null  object
 12  YearsCodePro                         66136 non-null  object
 13  DevType                              76872 non-null  object
 14  OrgSize                              65043 non-null  object
 15  PurchaseInfluence                    64964 non-null  object
 16  TechList                             60851 non-null  object
 17  BuyNewTool                           83009 non-null  object
 18  Country                              87973 non-null  object
 19  Currency                             65334 non-null  object
 20  CompTotal                            48225 non-null  float64
 21  LanguageHaveWorkedWith               87140 non-null  object
 22  LanguageWantToWorkWith               80709 non-null  object
 23  DatabaseHaveWorkedWith               73435 non-null  object
 24  DatabaseWantToWorkWith               60911 non-null  object
 25  PlatformHaveWorkedWith               63628 non-null  object
 26  PlatformWantToWorkWith               51308 non-null  object
 27  WebframeHaveWorkedWith               66938 non-null  object
 28  WebframeWantToWorkWith               56741 non-null  object
 29  MiscTechHaveWorkedWith               57019 non-null  object
 30  MiscTechWantToWorkWith               46848 non-null  object
 31  ToolsTechHaveWorkedWith              77884 non-null  object
 32  ToolsTechWantToWorkWith              68315 non-null  object
 33  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 34  NEWCollabToolsWantToWorkWith         76649 non-null  object
 35  OpSysPersonal use                    86557 non-null  object
 36  OpSysProfessional use                78587 non-null  object
 37  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 38  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 39  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 40  OfficeStackSyncWantToWorkWith        69776 non-null  object
 41  AISearchHaveWorkedWith               56328 non-null  object
 42  AISearchWantToWorkWith               46150 non-null  object
 43  AIDevHaveWorkedWith                  25904 non-null  object
 44  AIDevWantToWorkWith                  19587 non-null  object
 45  NEWSOSites                           87973 non-null  object
 46  SOVisitFreq                          87140 non-null  object
 47  SOAccount                            87852 non-null  object
 48  SOPartFreq                           66061 non-null  object
 49  SOComm                               87692 non-null  object
 50  SOAI                                 47912 non-null  object
 51  AISelect                             87973 non-null  object
 52  AISent                               61501 non-null  object
 53  AIAcc                                38594 non-null  object
 54  AIBen                                61396 non-null  object
 55  AIToolInterested in Using            32783 non-null  object
 56  AIToolCurrently Using                36137 non-null  object
 57  AIToolNot interested in Using        21069 non-null  object
 58  AINextVery different                 12661 non-null  object
 59  AINextNeither different nor similar  6599 non-null   object
 60  AINextSomewhat similar               6238 non-null   object
 61  AINextVery similar                   2621 non-null   object
 62  AINextSomewhat different             23303 non-null  object
 63  TBranch                              65768 non-null  object
 64  ICorPM                               43668 non-null  object
 65  WorkExp                              43579 non-null  float64
 66  Knowledge_1                          42535 non-null  object
 67  Knowledge_2                          41670 non-null  object
 68  Knowledge_3                          41798 non-null  object
 69  Knowledge_4                          41684 non-null  object
 70  Knowledge_5                          41527 non-null  object
 71  Knowledge_6                          41520 non-null  object
 72  Knowledge_7                          41467 non-null  object
 73  Knowledge_8                          41404 non-null  object
 74  Frequency_1                          41916 non-null  object
 75  Frequency_2                          41925 non-null  object
 76  Frequency_3                          41054 non-null  object
 77  TimeSearching                        42778 non-null  object
 78  TimeAnswering                        42629 non-null  object
 79  ProfessionalTech                     41783 non-null  object
 80  Industry                             36774 non-null  object
 81  SurveyLength                         86485 non-null  object
 82  SurveyEase                           86554 non-null  object
 83  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(4), int64(1), object(79)
memory usage: 57.2+ MB

In [135]:
'23'

'23'

In [136]:
' 23 '.strip()

'23'

In [137]:
'  23 '.lstrip()

'23 '

In [138]:
' 23  '.rstrip()

' 23'

In [139]:
type(df.shape)

tuple

In [140]:
df.shape[0]

89184

In [141]:
df.shape[1]

84

In [142]:
df.describe()

,ResponseId,Age,CompTotal,WorkExp,ConvertedCompYearly
count,89184.000000,83436.000000,4.822500e+04,43579.000000,4.801900e+04
mean,44592.500000,33.351413,1.036807e+42,11.405126,1.031101e+05
std,25745.347541,10.091852,2.276847e+44,9.051989,6.814188e+05
min,1.000000,21.000000,0.000000e+00,0.000000,1.000000e+00
25%,22296.750000,29.500000,6.300000e+04,5.000000,4.390700e+04
50%,44592.500000,29.500000,1.150000e+05,9.000000,7.496300e+04
75%,66888.250000,39.500000,2.300000e+05,16.000000,1.216410e+05
max,89184.000000,59.500000,5.000000e+46,50.000000,7.435143e+07

In [143]:
for i in range(df.shape[0]):
    pass

In [144]:
df.isnull().sum()

ResponseId                 0
Q120                       0
MainBranch                 0
Age                     5748
Employment              1286
                       ...
ProfessionalTech       47401
Industry               52410
SurveyLength            2699
SurveyEase              2630
ConvertedCompYearly    41165
Length: 84, dtype: int64

In [145]:
df.isna().sum()

ResponseId                 0
Q120                       0
MainBranch                 0
Age                     5748
Employment              1286
                       ...
ProfessionalTech       47401
Industry               52410
SurveyLength            2699
SurveyEase              2630
ConvertedCompYearly    41165
Length: 84, dtype: int64

In [146]:
df.notna().sum()

ResponseId             89184
Q120                   89184
MainBranch             89184
Age                    83436
Employment             87898
                       ...
ProfessionalTech       41783
Industry               36774
SurveyLength           86485
SurveyEase             86554
ConvertedCompYearly    48019
Length: 84, dtype: int64

In [147]:
df.describe().loc['count']

ResponseId             89184.0
Age                    83436.0
CompTotal              48225.0
WorkExp                43579.0
ConvertedCompYearly    48019.0
Name: count, dtype: float64

In [148]:
total = df.isnull().sum().sort_values(ascending=False)
percent = pd.Series(np.mean(df.isnull()))*100
missing_data =pd.concat([total,percent],axis=1,keys=['Total','%'])
missing_data

C:\Users\TravelMate\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

                                     Total          %
AINextVery similar                   86563  97.061132
AINextSomewhat similar               82946  93.005472
AINextNeither different nor similar  82585  92.600691
AINextVery different                 76523  85.803507
AIDevWantToWorkWith                  69597  78.037540
...                                    ...        ...
NEWSOSites                            1211   1.357867
AISelect                              1211   1.357867
Q120                                     0   0.000000
MainBranch                               0   0.000000
ResponseId                               0   0.000000

[84 rows x 2 columns]

In [225]:
df.columns
# df['Country'] ='India'

In [163]:

# df['LanguageHaveWorkedWith']
df[df['LanguageHaveWorkedWith'].str.contains('Python',na=False)]

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
1,2,I agree,I am a developer by profession,29.5,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
7,8,I agree,I am a developer by profession,29.5,"Employed, full-time",Remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,60-120 minutes a day,30-60 minutes a day,None of these,Financial Services,NaN,NaN,80000.0
9,10,I agree,I am a developer by profession,29.5,"Not employed, but looking for work",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
10,11,I agree,I am a developer by profession,29.5,"Employed, full-time",Remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,6-10 times a week,30-60 minutes a day,60-120 minutes a day,Automated testing;Continuous integration (CI) ...,Other,Appropriate in length,Neither easy nor difficult,NaN
11,12,I agree,I am a developer by profession,29.5,"Employed, full-time",Remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,78003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89172,89173,I agree,I am a developer by profession,49.5,"Employed, full-time",In-person,Hobby;Contribute to open-source projects;Profe...,Some college/university study without earning ...,"Books / Physical media;School (i.e., Universit...",NaN,...,Never,10+ times a week,1-2 times a week,30-60 minutes a day,30-60 minutes a day,Innersource initiative,"Information Services, IT, Software Development...",Appropriate in length,Neither easy nor difficult,NaN
89176,89177,I agree,I am a developer by profession,21.0,"Student, full-time",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",On the job training;Other online resources (e....,How-to videos;Video-based Online Courses;Writt...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89180,89181,I agree,I am a developer by profession,21.0,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89181,89182,I agree,I code primarily as a hobby,NaN,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89182,89183,I agree,I am a developer by profession,NaN,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN

In [168]:
df.loc[df['ConvertedCompYearly']>70000,  df['LanguageHaveWorkedWith',  'Country' , 'YearsCode']]

KeyError: ('LanguageHaveWorkedWith', 'Country', 'YearsCode')

In [176]:
df['Country'].value_counts(ascending=True,normalize=True,dropna=False)

San Marino                                              0.000011
Central African Republic                                0.000011
Guinea-Bissau                                           0.000011
Samoa                                                   0.000011
Marshall Islands                                        0.000011
                                                          ...
Canada                                                  0.039323
United Kingdom of Great Britain and Northern Ireland    0.062253
India                                                   0.063072
Germany                                                 0.082167
United States of America                                0.209085
Name: Country, Length: 186, dtype: float64

In [170]:
# countries =['United States of America','Canada','Austria']
# df[df['Country'].isin(countries)) & (df['ConvertedYearly']>80000)]

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (1465099891.py, line 2)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices