# Sales Data Analysis Exercise

## Objective
Extract and analyze sales data from the provided text. You will calculate the total sales, sales per item, and average sales per month.

## Tasks
1. **Data Extraction**: Use regular expressions to parse the text and extract the month, item names, and their sale values.
2. **Data Tabulation**: Organize the extracted data into a structured format with columns for Month, Item, and Sale Value.
3. **Data Analysis**:
   - Calculate the total sales for the entire period.
   - Calculate the total sales for each item across all months.
   - Determine the average sales per month.

## Sales Records
```
January - Books: $20, Pens: $5, Notebooks: $15
February - Books: $30, Chairs: $50, Pens: $10, Desks: $100
March - Tables: $30, Books: $25, Lamps: $45
April - Chairs: $60, Lamps: $50, Notebooks: $20, Pens: $15
May - Desks: $110, Tables: $35, Books: $40
June - Notebooks: $25, Chairs: $70, Lamps: $55
```

## Hints
- Use regular expressions to identify patterns in the text.
- Python's pandas library can be useful for data manipulation and analysis.
- Ensure the format of the extracted data is accurate for calculations.

## Expected Output
- A table summarizing the sales data.
- Calculated total sales, sales per item, and average sales per month.

## Your Solution

In [17]:
# Import necessary libraries
import re
# import pandas as pd

# Define the sales records text
sales_records = '''
January - Books: $20, Pens: $5, Notebooks: $15
February - Books: $30, Chairs: $50, Pens: $10, Desks: $100
March - Tables: $30, Books: $25, Lamps: $45
April - Chairs: $60, Lamps: $50, Notebooks: $20, Pens: $15
May - Desks: $110, Tables: $35, Books: $40
June - Notebooks: $25, Chairs: $70, Lamps: $55
'''

# Write your code here to extract and analyze the data

pattern = '\d+'
result = re.findall(pattern,sales_records)
print(result)



items_and_sales = re.findall(r'(\w+): \$(\d+)', sales_records)
items_and_sales






# Hints:
# 1. Use re.findall() to extract data
# 2. Create a DataFrame to tabulate the data
# 3. Perform calculations for total sales, sales per item, and average sales per month

['20', '5', '15', '30', '50', '10', '100', '30', '25', '45', '60', '50', '20', '15', '110', '35', '40', '25', '70', '55']

[('Books', '20'),
 ('Pens', '5'),
 ('Notebooks', '15'),
 ('Books', '30'),
 ('Chairs', '50'),
 ('Pens', '10'),
 ('Desks', '100'),
 ('Tables', '30'),
 ('Books', '25'),
 ('Lamps', '45'),
 ('Chairs', '60'),
 ('Lamps', '50'),
 ('Notebooks', '20'),
 ('Pens', '15'),
 ('Desks', '110'),
 ('Tables', '35'),
 ('Books', '40'),
 ('Notebooks', '25'),
 ('Chairs', '70'),
 ('Lamps', '55')]

In [1]:
#*****************

In [27]:



# regular expression 1
pattern = re.compile(r'(\w+) - ((?:[^:,]+: \$\d+,?\s*)+)')


matches = pattern.findall(sales_records)


for match in matches:
    month, items_str = match
    items = re.findall(r'([^:,]+): \$(\d+)', items_str)
    result_dict[month] = {item.strip(): int(price) for item, price in items}


print(result_dict)

{'January': {'Books': 40, 'Pens': 15, 'Notebooks': 20, 'February - Books': 30, 'Chairs': 70, 'Desks': 100, 'March - Tables': 30, 'Lamps': 55, 'April - Chairs': 60, 'May - Desks': 110, 'Tables': 35, 'June - Notebooks': 25}}

In [15]:
#**********************

In [28]:

# Extracting data using regular expressions
data = []
months = re.findall(r'(\w+) -', sales_records)
items_and_sales = re.findall(r'(\w+): \$(\d+)', sales_records)

for month in months:
    month_data = {'Month': month}
    for item, value in items_and_sales:
        if re.search(fr'{item}: \${value}', sales_records):
            month_data[item] = int(value)
    data.append(month_data)

df = pd.DataFrame(data).fillna(0)

df['Total Sales'] = df.sum(axis=1)
df['Average Sales'] = df.mean(axis=1)


print(df)

      Month  Books  Pens  Notebooks  Chairs  Desks  Tables  Lamps  \
0   January     40    15         25      70    110      35     55
1  February     40    15         25      70    110      35     55
2     March     40    15         25      70    110      35     55
3     April     40    15         25      70    110      35     55
4       May     40    15         25      70    110      35     55
5      June     40    15         25      70    110      35     55

   Total Sales  Average Sales
0          350           87.5
1          350           87.5
2          350           87.5
3          350           87.5
4          350           87.5
5          350           87.5

C:\Users\TravelMate\AppData\Local\Temp\ipykernel_9720\2973182760.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Total Sales'] = df.sum(axis=1)
C:\Users\TravelMate\AppData\Local\Temp\ipykernel_9720\2973182760.py:16: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Average Sales'] = df.mean(axis=1)

In [29]:


data = []
months = re.findall(r'(\w+) -', sales_records)

for month in months:
    month_data = {'Month': month}
    items_and_sales = re.findall(fr'{month} - (\w+): \$(\d+)', sales_records)
    
    for item, value in items_and_sales:
        month_data[item] = int(value)

    data.append(month_data)

df = pd.DataFrame(data).fillna(0)

df['Total Sales'] = df.sum(axis=1)
df['Average Sales'] = df.mean(axis=1)

print(df)

      Month  Books  Tables  Chairs  Desks  Notebooks  Total Sales  \
0   January   20.0     0.0     0.0    0.0        0.0         20.0
1  February   30.0     0.0     0.0    0.0        0.0         30.0
2     March    0.0    30.0     0.0    0.0        0.0         30.0
3     April    0.0     0.0    60.0    0.0        0.0         60.0
4       May    0.0     0.0     0.0  110.0        0.0        110.0
5      June    0.0     0.0     0.0    0.0       25.0         25.0

   Average Sales
0       6.666667
1      10.000000
2      10.000000
3      20.000000
4      36.666667
5       8.333333

C:\Users\TravelMate\AppData\Local\Temp\ipykernel_9720\4262985464.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Total Sales'] = df.sum(axis=1)
C:\Users\TravelMate\AppData\Local\Temp\ipykernel_9720\4262985464.py:16: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Average Sales'] = df.mean(axis=1)

In [30]:

data = []
months = re.findall(r'(\w+) -', sales_records)

for month in months:
    month_data = {'Month': month}
    items_and_sales = re.findall(fr'{month} - (.*?)(?=\w+ -|$)', sales_records)
    
    for item_and_sale in items_and_sales:
        item, value = re.search(r'([^:,]+): \$(\d+)', item_and_sale).groups()
        month_data[item.strip()] = int(value)

    data.append(month_data)

df = pd.DataFrame(data).fillna(0)

df['Total Sales'] = df.sum(axis=1)
df['Average Sales'] = df.mean(axis=1)

print(df)
#still i need to update to work smoothly in data

      Month  Notebooks  Total Sales  Average Sales
0   January        0.0          0.0            0.0
1  February        0.0          0.0            0.0
2     March        0.0          0.0            0.0
3     April        0.0          0.0            0.0
4       May        0.0          0.0            0.0
5      June       25.0         25.0           25.0

C:\Users\TravelMate\AppData\Local\Temp\ipykernel_9720\1655454323.py:16: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Total Sales'] = df.sum(axis=1)
C:\Users\TravelMate\AppData\Local\Temp\ipykernel_9720\1655454323.py:17: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Average Sales'] = df.mean(axis=1)

In [37]:
######updated version

sales_month = re.findall('([A-Za-z]+)\s*-', sales_records)
sales_month
sales_price =re.findall('(\w+):\s*\$(\d+)', sales_records)
sales_price
data = {'Month':[],'Items':[],'Price':[]}

for month in sales_month: 
    for items, price in items_price:
        data['Month'].append(month)
        data['Items'].append(items)
        data['Price'].append(int(price))
df = pd.DataFrame(data)
df

       Month      Items  Price
0    January      Books     20
1    January       Pens      5
2    January  Notebooks     15
3    January      Books     30
4    January     Chairs     50
..       ...        ...    ...
115     June     Tables     35
116     June      Books     40
117     June  Notebooks     25
118     June     Chairs     70
119     June      Lamps     55

[120 rows x 3 columns]