In [1]:
#Bibek Shiwakoti

 Please note, you have to submit jupyter notebook file for answering the question using python.

1- Import the file into Jupyter notebook.

2-Perform some basic EDA on the file. like getting the shape, description, type of data, missing values, info, value_counts() on some categorical columns, etc.

3- Use Pandas profiling and generate the report.

https://www.geeksforgeeks.org/pandas-profiling-in-python/

5- Upload your Notebook and HTML file, in one zipped folder

In [9]:
import pandas as pd
df =pd.read_csv('./data (2).csv')

In [12]:
#looking at data header
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [13]:
#looking at data footer
df.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [16]:
#looking at data shape
df.shape

(1460, 81)

In [20]:
#number of rows
df.shape[0]

1460

In [21]:
#number of columns
df.shape[1]

81

In [23]:
#looking at the basic info of dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [34]:
#looking at the columns name
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [33]:
#looking at missing values
df.isnull().sum().sort_values(ascending=False)

PoolQC         1453
MiscFeature    1406
Alley          1369
Fence          1179
FireplaceQu     690
               ...
ExterQual         0
Exterior2nd       0
Exterior1st       0
RoofMatl          0
SalePrice         0
Length: 81, dtype: int64

In [35]:
#looking at available values that is not null
df.notna().sum().sort_values(ascending=False)

Id              1460
GrLivArea       1460
KitchenAbvGr    1460
BedroomAbvGr    1460
HalfBath        1460
                ...
FireplaceQu      770
Fence            281
Alley             91
MiscFeature       54
PoolQC             7
Length: 81, dtype: int64

In [37]:
# Identify and separate categorical and numerical columns
categorical_columns = df.select_dtypes(include=['object']).columns
numerical_columns = df.select_dtypes(exclude=['object']).columns

# Print the categorical columns
print("Categorical columns:")
print(categorical_columns)

# Print the numeric columns
print("Numeric columns:")
print(numerical_columns)

Categorical columns:
Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')
Numeric columns:
Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [54]:
# checking the target variable SalePrice
df["SalePrice"].describe()

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [46]:
#counting some categorical values let us say based on the roof style of the house
roofstyle_count=df['RoofStyle'].value_counts()
roofstyle_count

Gable      1141
Hip         286
Flat         13
Gambrel      11
Mansard       7
Shed          2
Name: RoofStyle, dtype: int64

In [47]:
     #based on Electrical 
electrical_count=df['Electrical'].value_counts()
electrical_count

SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64

In [50]:
# df['BedroomAbvGr']

0       3
1       3
2       3
3       3
4       4
       ..
1455    3
1456    3
1457    4
1458    2
1459    3
Name: BedroomAbvGr, Length: 1460, dtype: int64

In [52]:
# filtering example implement
filtered_df = df[(df['Electrical'] == 'FuseA') & (df['BedroomAbvGr'] > 3)]

# Displaying the filtered result
print("Filtered dataset for houses with 'Electrical' with more than 3 BedroomAbvGr:")
print(filtered_df)

Filtered dataset for houses with 'Electrical' with more than 3 BedroomAbvGr:
        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
154    155          30       RM         84.0    11340   Pave   NaN      Reg
296    297          50       RM         75.0    13710   Pave   NaN      Reg
328    329          75       RL          NaN    11888   Pave  Pave      IR1
417    418          70       RL         86.0    22420   Pave   NaN      IR1
635    636         190       RH         60.0    10896   Pave  Pave      Reg
910    911          90       RL         80.0    11600   Pave   NaN      Reg
913    914          90       RH         82.0     6270   Pave   NaN      Reg
970    971          50       RL         60.0    10800   Pave   NaN      Reg
1045  1046          20       RL          NaN    13680   Pave   NaN      IR1
1053  1054          20       RL         68.0     8562   Pave   NaN      Reg
1072  1073          50       RL         50.0     7585   Pave   NaN      Reg
1223  1224          20       RL         89.0    10680   Pave   NaN      Reg
1234  1235          70       RH         55.0     8525   Pave   NaN      Reg
1262  1263          50       RL          NaN    11250   Pave   NaN      Reg
1275  1276          90       RL         95.0    11345   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
154          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
296          Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
328          Bnk    AllPub  ...        0    NaN    NaN         NaN       0
417          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
635          Bnk    AllPub  ...        0    NaN    NaN         NaN       0
910          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
913          HLS    AllPub  ...        0    NaN    NaN         NaN       0
970          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1045         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1053         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1072         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1223         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1234         Bnk    AllPub  ...        0    NaN    NaN         NaN       0
1262         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1275         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
154       3   2006        WD         Family     125000
296       6   2007        WD         Normal     152000
328       7   2009        WD         Normal     214500
417      11   2007        WD         Normal     239000
635       3   2007        WD        Abnorml     200000
910       1   2010        WD         Normal     154300
913       8   2007        WD         Normal     145000
970      12   2006        WD        Abnorml     135000
1045      6   2009        WD         Normal     139600
1053      5   2010        WD         Normal     144500
1072      8   2006        WD         Normal      91500
1223     10   2006        WD         Normal     137900
1234     11   2008        WD        Abnorml     130000
1262     11   2009        WD         Normal     161500
1275      7   2007        WD         Normal     137000

[15 rows x 81 columns]

## Profiling

In [58]:
pip install ydata-profiling

Requirement already satisfied: ydata-profiling in c:\users\travelmate\anaconda3\lib\site-packages (4.6.4)
Requirement already satisfied: typeguard<5,>=4.1.2 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (4.1.5)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (1.5.3)
Requirement already satisfied: matplotlib<3.9,>=3.2 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (3.7.0)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: imagehash==4.3.1 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (0.7.5)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (0.13.5)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (3.1.2)
Requirement already satisfied: scipy<1.12,>=1.4.1 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (1.7.3)
Requirement already satisfied: wordcloud>=1.9.1 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (1.9.3)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (0.12.2)
Requirement already satisfied: numpy<1.26,>=1.16.0 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (1.22.4)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (1.10)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (4.64.1)
Requirement already satisfied: pydantic>=2 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (2.5.3)
Requirement already satisfied: numba<0.59.0,>=0.56.0 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (0.56.4)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (6.0)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (2.28.1)
Requirement already satisfied: dacite>=1.8 in c:\users\travelmate\anaconda3\lib\site-packages (from ydata-profiling) (1.8.1)
Requirement already satisfied: PyWavelets in c:\users\travelmate\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.4.1)
Requirement already satisfied: pillow in c:\users\travelmate\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (9.4.0)
Requirement already satisfied: attrs>=19.3.0 in c:\users\travelmate\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (22.1.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\travelmate\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (0.2.0)
Requirement already satisfied: networkx>=2.4 in c:\users\travelmate\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (2.8.4)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\travelmate\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\travelmate\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\travelmate\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (1.0.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\travelmate\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\travelmate\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (22.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\travelmate\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\travelmate\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\users\travelmate\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (0.11.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in c:\users\travelmate\anaconda3\lib\site-packages (from numba<0.59.0,>=0.56.0->ydata-profiling) (0.39.1)
Requirement already satisfied: setuptools in c:\users\travelmate\anaconda3\lib\site-packages (from numba<0.59.0,>=0.56.0->ydata-profiling) (65.6.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\travelmate\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2022.7)
Requirement already satisfied: joblib>=0.14.1 in c:\users\travelmate\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.1.1)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\travelmate\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (0.6.0)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\travelmate\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (4.9.0)
Requirement already satisfied: pydantic-core==2.14.6 in c:\users\travelmate\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (2.14.6)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\travelmate\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\travelmate\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\travelmate\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\travelmate\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4)
Requirement already satisfied: patsy>=0.5.2 in c:\users\travelmate\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.3)
Requirement already satisfied: colorama in c:\users\travelmate\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: six in c:\users\travelmate\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [61]:
from ydata_profiling import ProfileReport

In [64]:
profile = ProfileReport(df,)

In [65]:
# # Assuming 'df' is your DataFrame
# profile = ProfileReport(df, title="Pandas Profiling Report", explorative=True)

# # To save the report to an HTML file
# profile.to_file("data_profile_report.html")

# # To display the report in a Jupyter Notebook
# profile.to_notebook_iframe()