In [1]:
#Bibek Shiwakoti

In [2]:
print('Hello world')

Hello world

In [3]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\travelmate\anaconda3\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\travelmate\anaconda3\lib\site-packages (from pymongo) (2.5.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymongo
print("PyMongo and MongoDB are installed and connected successfully!")

from pymongo import MongoClient
client= MongoClient()
db=client.test

PyMongo and MongoDB are installed and connected successfully!

In [5]:
employee =db.employee

In [6]:
employee_details={
    'Name': 'Raj Kumar',
    'Address': 'Sears street, NZ',
    'Age': '42',
    
    
}

In [7]:
result = employee.insert_one(employee_details)

In [8]:
print(result.inserted_id)

65bab0592776d06f216b1063

In [76]:
print(client.list_database_names())

['admin', 'config', 'local', 'test']

In [10]:
dblist=client.list_database_names()
if 'test' in dblist:
    print('The {} exists'.format('test'))
else: 
    print('there is no test database')

The test exists

In [77]:
print(db.list_collection_names())

['Bibek', 'employee_copy', 'employee']

In [78]:
collist = db.list_collection_names()
if 'employee' in collist:
    print('the employee collection exists.')
else:
    print('the employee collection doesnot exists')

the employee collection exists.

In [79]:
mylist = [{"_id":1,"name":"John","address":"Highway 37"},
          {"_id":2,"name":"Peter","address":"Lowstreet 27"},
          {"_id":3,"name":"Amy","address":"Close st 652"},
          {"_id":4,"name":"Hannah","address":"Mountain 21"},
          {"_id":5,"name":"Michael","address":"Valley 345"},
          {"_id":6,"name": "Vicky", "address": "Yellow Garden 124"},
          {"_id":7,"name": "Nicky", "address": "Yellow Garden 23"},
          {"_id":8,"name": "Nancy", "address": "Younge Ave. 123"},
          {"_id":9,"name": "Viola", "address": "Highway 37"}]

In [80]:
x= employee.insert_many(mylist)
#print list of the _id values of the inserted documents 
print(x.inserted_ids)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: test.employee index: _id_ dup key: { _id: 1 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'op': {'_id': 1, 'name': 'John', 'address': 'Highway 37'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [81]:
print(len(mylist))

9

In [82]:
employee.count_documents

In [83]:
x= employee.find_one()

In [84]:
print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

In [85]:
# read all records
for x in employee.find():
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Highway 37'}

In [86]:
myresult = employee.find().limit(5)

In [87]:
for x in myresult:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

In [88]:
#/////////////*************************************************


# create a duplicate copy of your collection employee
# rename that duplicate copy to yhour first name
# rename the field address in that duplicated copy of your collection to Home address
# than in the original collection delete the field address

In [89]:
for x in employee.find():
    print(x)
# printing the values of the existing employee collection

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Highway 37'}

In [97]:
# copied the collection employee

db = client['test']
employee_collection = db['employee']

# Create a new collection and copy the data excluding the _id field
new_collection_name = 'employee_copy'
db[new_collection_name].insert_many(employee_collection.find({}, {'_id': 0}))

# Display documents in the new collection
for document in db.employee_copy.find():
    print(document)

{'_id': ObjectId('65bab9f72776d06f216b106d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65bab9f72776d06f216b106e'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65bab9f72776d06f216b106f'), 'name': 'Amy', 'address': 'Close st 652'}
{'_id': ObjectId('65bab9f72776d06f216b1070'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65bab9f72776d06f216b1071'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65bab9f72776d06f216b1072'), 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': ObjectId('65bab9f72776d06f216b1073'), 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': ObjectId('65bab9f72776d06f216b1074'), 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': ObjectId('65bab9f72776d06f216b1075'), 'name': 'Viola', 'address': 'Highway 37'}
{'_id': ObjectId('65baba252776d06f216b1076'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65baba252776d06f216b1077'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65baba252776d06f216b1078'), 'name': 'Amy', 'address': 'Close st 652'}
{'_id': ObjectId('65baba252776d06f216b1079'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65baba252776d06f216b107a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65baba252776d06f216b107b'), 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': ObjectId('65baba252776d06f216b107c'), 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': ObjectId('65baba252776d06f216b107d'), 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': ObjectId('65baba252776d06f216b107e'), 'name': 'Viola', 'address': 'Highway 37'}
{'_id': ObjectId('65baba692776d06f216b107f'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65baba692776d06f216b1080'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65baba692776d06f216b1081'), 'name': 'Amy', 'address': 'Close st 652'}
{'_id': ObjectId('65baba692776d06f216b1082'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65baba692776d06f216b1083'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65baba692776d06f216b1084'), 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': ObjectId('65baba692776d06f216b1085'), 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': ObjectId('65baba692776d06f216b1086'), 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': ObjectId('65baba692776d06f216b1087'), 'name': 'Viola', 'address': 'Highway 37'}
{'_id': ObjectId('65babb1f2776d06f216b1088'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65babb1f2776d06f216b1089'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65babb1f2776d06f216b108a'), 'name': 'Amy', 'address': 'Close st 652'}
{'_id': ObjectId('65babb1f2776d06f216b108b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65babb1f2776d06f216b108c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65babb1f2776d06f216b108d'), 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': ObjectId('65babb1f2776d06f216b108e'), 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': ObjectId('65babb1f2776d06f216b108f'), 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': ObjectId('65babb1f2776d06f216b1090'), 'name': 'Viola', 'address': 'Highway 37'}
{'_id': ObjectId('65babf402776d06f216b1091'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65babf402776d06f216b1092'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65babf402776d06f216b1093'), 'name': 'Amy', 'address': 'Close st 652'}
{'_id': ObjectId('65babf402776d06f216b1094'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65babf402776d06f216b1095'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65babf402776d06f216b1096'), 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': ObjectId('65babf402776d06f216b1097'), 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': ObjectId('65babf402776d06f216b1098'), 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': ObjectId('65babf402776d06f216b1099'), 'name': 'Viola', 'address': 'Highway 37'}
{'_id': ObjectId('65babf532776d06f216b109a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65babf532776d06f216b109b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65babf532776d06f216b109c'), 'name': 'Amy', 'address': 'Close st 652'}
{'_id': ObjectId('65babf532776d06f216b109d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65babf532776d06f216b109e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65babf532776d06f216b109f'), 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': ObjectId('65babf532776d06f216b10a0'), 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': ObjectId('65babf532776d06f216b10a1'), 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': ObjectId('65babf532776d06f216b10a2'), 'name': 'Viola', 'address': 'Highway 37'}

In [98]:

# Select the database
db = client['test']

# Specify the old and new collection names
old_collection_name = 'employee_copy'
new_collection_name = 'Bibek'

# Rename the collection
db[old_collection_name].rename(new_collection_name)

# Display documents in the renamed collection
for document in db[new_collection_name].find():
    print(document)

OperationFailure: target namespace exists, full error: {'ok': 0.0, 'errmsg': 'target namespace exists', 'code': 48, 'codeName': 'NamespaceExists'}

In [102]:
for x in db.Bibek.find():
    print(x)

{'_id': 1, 'name': 'John', 'home_address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'home_address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'home_address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'home_address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'home_address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'home_address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'home_address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'home_address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'home_address': 'Highway 37'}
{'_id': ObjectId('65bab8f52776d06f216b1064'), 'name': 'John', 'home_address': 'Highway 37'}
{'_id': ObjectId('65bab8f52776d06f216b1065'), 'name': 'Peter', 'home_address': 'Lowstreet 27'}
{'_id': ObjectId('65bab8f52776d06f216b1066'), 'name': 'Amy', 'home_address': 'Close st 652'}
{'_id': ObjectId('65bab8f52776d06f216b1067'), 'name': 'Hannah', 'home_address': 'Mountain 21'}
{'_id': ObjectId('65bab8f52776d06f216b1068'), 'name': 'Michael', 'home_address': 'Valley 345'}
{'_id': ObjectId('65bab8f52776d06f216b1069'), 'name': 'Vicky', 'home_address': 'Yellow Garden 124'}
{'_id': ObjectId('65bab8f52776d06f216b106a'), 'name': 'Nicky', 'home_address': 'Yellow Garden 23'}
{'_id': ObjectId('65bab8f52776d06f216b106b'), 'name': 'Nancy', 'home_address': 'Younge Ave. 123'}
{'_id': ObjectId('65bab8f52776d06f216b106c'), 'name': 'Viola', 'home_address': 'Highway 37'}

In [101]:
collection_name = 'Bibek'

# Rename the 'address' field to 'home_address' in all documents
db[collection_name].update_many({}, {'$rename': {'address': 'home_address'}})

UpdateResult({'n': 18, 'nModified': 18, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [103]:
collection_name = 'employee'

# Delete the 'address' field from all documents
db[collection_name].update_many({}, {'$unset': {'address': 1}})

UpdateResult({'n': 9, 'nModified': 9, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [106]:
for x in employee.find():
    print(x)

{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Vicky'}
{'_id': 7, 'name': 'Nicky'}
{'_id': 8, 'name': 'Nancy'}
{'_id': 9, 'name': 'Viola'}

In [ ]:
#***************************************/////////////

In [22]:
for x in employee.find({},{'_id':0,"name":1,'address':1}):  # 1 means include and 0 means do not include
    print(x)

{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Highway 37'}

In [67]:
#Rename of the copied collection
old_collection_name = 'employee_copy'
new_collection_name = 'Bibek'

# Rename the collection
db[old_collection_name].rename(new_collection_name)

# Display documents in the renamed collection
for document in db[new_collection_name].find():
    print(document)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Highway 37'}
{'_id': ObjectId('65bab8f52776d06f216b1064'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65bab8f52776d06f216b1065'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65bab8f52776d06f216b1066'), 'name': 'Amy', 'address': 'Close st 652'}
{'_id': ObjectId('65bab8f52776d06f216b1067'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65bab8f52776d06f216b1068'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65bab8f52776d06f216b1069'), 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': ObjectId('65bab8f52776d06f216b106a'), 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': ObjectId('65bab8f52776d06f216b106b'), 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': ObjectId('65bab8f52776d06f216b106c'), 'name': 'Viola', 'address': 'Highway 37'}

## Python advanced query

In [23]:
myquery ={'address': 'Highway 37'} # use limit as well for multiple output
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 9, 'name': 'Viola', 'address': 'Highway 37'}

In [24]:
myquery ={'address': 'Sideway Ave'}
mydoc = employee.find(myquery)
for i in mydoc:
    print(x)

In [25]:
# filter with regular expression
myquery ={'address':{'$regex':'^V'}}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

In [26]:
# filter with regular expression
myquery ={'address':{'$regex':'l'}}
mydoc = employee.find(myquery).limit(3)

for x in mydoc:
    print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}

In [27]:
#using the logical operator or
myquery = {
    '$or': [{'address': {'$regex':'^Y'}},
           {'address': {'$regex':'^S'}},]
}
mydoc =employee.find(myquery)
for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [28]:
#alternative method
myquery ={'address': {'$regex': "^S|^Y|^L"}}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [30]:
#using the logical operator and
myquery = {
    '$and': [{'address': {'$regex':'^Y'}},
           {'address': {'$regex':'1'}},]
}
mydoc =employee.find(myquery)
for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [31]:
myquery = {
    '$and': [{'address': {'$regex':'^Y'}},
           {'address': {'$regex':'1'}},
            {'name': {'$regex': '^N'}}]
}
mydoc =employee.find(myquery)
for x in mydoc:
    print(x)

{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [32]:
myquery = {
    '$and': [{'address': {'$regex':'^Y'}},
           {'address': {'$regex':'1'}},
            {'name': {'$ne': 'Nicky'}}]
}
mydoc =employee.find(myquery)
for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [33]:
myquery ={'name': {'$ne': 'Nicky'}}
mydoc = employee.find(myquery)
mydoc =employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('65bab0592776d06f216b1063'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Highway 37'}

In [34]:
myquery = {'address' :{'$gt': 'S'}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [35]:
mydoc =employee.find().sort('name',1) #1 mean ascending or default is 1 also , -1 gives in descendng
for x in mydoc:
    print(x)

{'_id': ObjectId('65bab0592776d06f216b1063'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 9, 'name': 'Viola', 'address': 'Highway 37'}

In [36]:
for x in employee.find():
    print(x)

{'_id': ObjectId('65bab0592776d06f216b1063'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Highway 37'}

In [38]:
my_query = {'address':'Valley 345'}
for x in employee.find(myquery):
    print(x)
    
newvalues= {'$set':{'address':'Canyon 123'}}
employee.update_one(my_query,newvalues)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [39]:
for x in employee.find():
    print(x)

{'_id': ObjectId('65bab0592776d06f216b1063'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Highway 37'}

In [40]:
myquery ={ 'address': {'$regex': '^C'}}
newvaluew = {'$set':{'name':'Minnie'}}

x=employee.update_many(myquery,newvalues)

print(x.modified_count,'document updated')

for x in employee.find():
    print(x)

1 document updated
{'_id': ObjectId('65bab0592776d06f216b1063'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Canyon 123'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Highway 37'}

## deleting the records

In [41]:
myquery = {'address':'Mountain 21'}
employee.delete_one(myquery)

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [42]:
for x in employee.find():
    print(x)

{'_id': ObjectId('65bab0592776d06f216b1063'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Canyon 123'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Highway 37'}

In [43]:
myquery = {'address':{'$regex':'^C'}}
x=employee.delete_many(myquery)
print(x.deleted_count,'documents deleted!')

# Questions

# create a duplicate copy of your collection employee
# rename that duplicate copy to yhour first name
# rename the field address in that duplicated copy of your collection to Home address
# than in the original collection delete the field address

2 documents deleted!

In [44]:
for x in employee.find():
    print(x)

{'_id': ObjectId('65bab0592776d06f216b1063'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Highway 37'}

In [45]:
#you can drop the whole collection using: collection_name.drop
employee.drop()

In [46]:
for x in employee.find():
    print(x)