In [165]:
#Bibek Shiwakoti

In [47]:
print('Hello world')

Hello world

In [48]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\travelmate\anaconda3\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\travelmate\anaconda3\lib\site-packages (from pymongo) (2.5.0)
Note: you may need to restart the kernel to use updated packages.

In [50]:
import pymongo
print("PyMongo and MongoDB are installed and connected successfully!")

from pymongo import MongoClient
client= MongoClient()
db=client.test

PyMongo and MongoDB are installed and connected successfully!

In [51]:
employee =db.employee

In [52]:
employee_details={
    'Name': 'Raj Kumar',
    'Address': 'Sears street, NZ',
    'Age': '42',
    
    
}

In [53]:
result = employee.insert_one(employee_details)

In [54]:
print(result.inserted_id)

65b1afe244774b38a9919d51

In [55]:
print(client.list_database_names())

['admin', 'config', 'local', 'test']

In [56]:
dblist=client.list_database_names()
if 'test' in dblist:
    print('The {} exists'.format('test'))
else: 
    print('there is no test database')

The test exists

In [57]:
print(db.list_collection_names())

['employee']

In [58]:
collist = db.list_collection_names()
if 'employee' in collist:
    print('the employee collection exists.')
else:
    print('the employee collection doesnot exists')

the employee collection exists.

In [88]:
mylist = [{"_id":1,"name":"John","address":"Highway 37"},
          {"_id":2,"name":"Peter","address":"Lowstreet 27"},
          {"_id":3,"name":"Amy","address":"Close st 652"},
          {"_id":4,"name":"Hannah","address":"Mountain 21"},
          {"_id":5,"name":"Michael","address":"Valley 345"},
          {"_id":6,"name": "Vicky", "address": "Yellow Garden 124"},
          {"_id":7,"name": "Nicky", "address": "Yellow Garden 23"},
          {"_id":8,"name": "Nancy", "address": "Younge Ave. 123"},
          {"_id":9,"name": "Viola", "address": "Highway 37"}]

In [89]:
x= employee.insert_many(mylist)
#print list of the _id values of the inserted documents 
print(x.inserted_ids)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: test.employee index: _id_ dup key: { _id: 1 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'op': {'_id': 1, 'name': 'John', 'address': 'Highway 37'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [90]:
print(len(mylist))

9

In [91]:
employee.count_documents

In [92]:
x= employee.find_one()

In [93]:
print(x)

{'_id': ObjectId('65b1adda44774b38a9919d4f'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}

In [94]:
# read all records
for x in employee.find():
    print(x)

{'_id': ObjectId('65b1adda44774b38a9919d4f'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('65b1afe244774b38a9919d51'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}

In [95]:
myresult = employee.find().limit(5)

In [96]:
for x in myresult:
    print(x)

{'_id': ObjectId('65b1adda44774b38a9919d4f'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

In [97]:
for x in employee.find({},{'_id':0,"name":1,'address':1}):  # 1 means include and 0 means do not include
    print(x)

{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}
{}

## Python advanced query

In [106]:
myquery ={'address': 'Highway 37'} # use limit as well for multiple output
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

In [114]:
myquery ={'address': 'Sideway Ave'}
mydoc = employee.find(myquery)
for i in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

In [119]:
# filter with regular expression
myquery ={'address':{'$regex':'^V'}}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

In [125]:
# filter with regular expression
myquery ={'address':{'$regex':'l'}}
mydoc = employee.find(myquery).limit(3)

for x in mydoc:
    print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}

In [127]:
#using the logical operator or
myquery = {
    '$or': [{'address': {'$regex':'^Y'}},
           {'address': {'$regex':'^S'}},]
}
mydoc =employee.find(myquery)
for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [129]:
#alternative method
myquery ={'address': {'$regex': "^S|^Y|^L"}}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [134]:
#using the logical operator and
myquery = {
    '$and': [{'address': {'$regex':'^Y'}},
           {'address': {'$regex':'1
                        '}},]
}
mydoc =employee.find(myquery)
for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}

In [135]:
myquery = {
    '$and': [{'address': {'$regex':'^Y'}},
           {'address': {'$regex':'1'}},
            {'name': {'$regex': '^N'}}]
}
mydoc =employee.find(myquery)
for x in mydoc:
    print(x)

{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [139]:
myquery = {
    '$and': [{'address': {'$regex':'^Y'}},
           {'address': {'$regex':'1'}},
            {'name': {'$ne': 'Nicky'}}]
}
mydoc =employee.find(myquery)
for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [143]:
myquery ={'name': {'$ne': 'Nicky'}}
mydoc = employee.find(myquery)
mydoc =employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('65b1adda44774b38a9919d4f'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('65b1afe244774b38a9919d51'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}

In [144]:
myquery = {'address' :{'$gt': 'S'}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [147]:
mydoc =employee.find().sort('name',1) #1 mean ascending or default is 1 also , -1 gives in descendng
for x in mydoc:
    print(x)

{'_id': ObjectId('65b1adda44774b38a9919d4f'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': ObjectId('65b1afe244774b38a9919d51'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [149]:
for x in employee.find():
    print(x)

{'_id': ObjectId('65b1adda44774b38a9919d4f'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('65b1afe244774b38a9919d51'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}

In [154]:
myquery = {'address':'Valley 345'}
for x in employee.find(myquery):
    print(x)
    
newvalues= {'$set':{'address':'Canyon 123'}}
employee.update_one(my_query,newvalues)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65b1adda44774b38a9919d4f'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'CAnyon 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Canyon 123'}
{'_id': 8, 'name': 'Nancy', 'address': 'Canyon 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('65b1afe244774b38a9919d51'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}

In [156]:
for x in employee.find():
    print(x)

{'_id': ObjectId('65b1adda44774b38a9919d4f'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'CAnyon 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Canyon 123'}
{'_id': 8, 'name': 'Nancy', 'address': 'Canyon 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('65b1afe244774b38a9919d51'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}

In [157]:
myquery ={ 'address': {'$regex': '^C'}}
newvaluew = {'$set':{'name':'Minnie'}}

x=employee.update_many(myquery,newvalues)

print(x.modified_count,'document updated')

for x in employee.find():
    print(x)

2 document updated
{'_id': ObjectId('65b1adda44774b38a9919d4f'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Canyon 123'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Canyon 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Canyon 123'}
{'_id': 8, 'name': 'Nancy', 'address': 'Canyon 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('65b1afe244774b38a9919d51'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}

## deleting the records

In [158]:
myquery = {'address':'Mountain 21'}
employee.delete_one(myquery)

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [159]:
for x in employee.find():
    print(x)

{'_id': ObjectId('65b1adda44774b38a9919d4f'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Canyon 123'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Canyon 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Canyon 123'}
{'_id': 8, 'name': 'Nancy', 'address': 'Canyon 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('65b1afe244774b38a9919d51'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}

In [161]:
myquery = {'address':{'$regex':'^C'}}
x=employee.delete_many(myquery)
print(x.deleted_count,'documents deleted!')

# Questions

# create a duplicate copy of your collection employee
# rename that duplicate copy to yhour first name
# rename the field address in that duplicated copy of your collection to Home address
# than in the original collection delete the field address

4 documents deleted!

In [162]:
for x in employee.find():
    print(x)

{'_id': ObjectId('65b1adda44774b38a9919d4f'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': ObjectId('65b1afe244774b38a9919d51'), 'Name': 'Raj Kumar', 'Address': 'Sears street, NZ', 'Age': '42'}

In [163]:
#you can drop the whole collection using: collection_name.drop
employee.drop()

In [164]:
for x in employee.find():
    print(x)