In [1]:
# Bibek Shiwakoti
# 03/18/2023

In [2]:
# Let's practice associated rules in python.

In [4]:
# Apriori Principal implementation

In [11]:
# pip install mlxtend

In [5]:
dataset = [
    ['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yoghurt'],
    ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yoghurt'],
    ['Milk', 'Apple','Kidney Beans', 'Eggs'] ,
    ['Milk', 'Unicorn', 'Corn', 'Kidney Beans','Yoghurt']  ,
    ['Corn', 'Onion', 'Onion', 'Kidney Beans','Ice Cream', 'Eggs']
]

In [10]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [12]:
dataset

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yoghurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yoghurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yoghurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice Cream', 'Eggs']]

In [13]:
te =TransactionEncoder()
te_aray = te.fit(dataset).transform(dataset)

In [14]:
df =pd.DataFrame(te_aray,columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yoghurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

There are now 11 items in the list and the data encoded is shown in above dataframe

In [16]:
from mlxtend.frequent_patterns import apriori

Printing the frequent itemsets with their support

In [22]:
frequent_itemsets = apriori(df,min_support=0.6,use_colnames=False)
frequent_itemsets

    support   itemsets
0       0.8        (3)
1       1.0        (5)
2       0.6        (6)
3       0.6        (8)
4       0.6       (10)
5       0.8     (3, 5)
6       0.6     (8, 3)
7       0.6     (5, 6)
8       0.6     (8, 5)
9       0.6    (10, 5)
10      0.6  (8, 3, 5)

## Association Rule Mining

In [20]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(frequent_itemsets,metric='confidence', min_threshold=0.7)

In [21]:
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0,0.0
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf,0.0
2,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
3,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
6,(Yoghurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
7,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
8,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
9,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
10,(Eggs),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
11,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5

In [23]:
res_1 = res[['antecedents','consequents','support','confidence','lift']]

In [24]:
res_1

              antecedents            consequents  support  confidence  lift
0          (Kidney Beans)                 (Eggs)      0.8        0.80  1.00
1                  (Eggs)         (Kidney Beans)      0.8        1.00  1.00
2                  (Eggs)                (Onion)      0.6        0.75  1.25
3                 (Onion)                 (Eggs)      0.6        1.00  1.25
4                  (Milk)         (Kidney Beans)      0.6        1.00  1.00
5                 (Onion)         (Kidney Beans)      0.6        1.00  1.00
6               (Yoghurt)         (Kidney Beans)      0.6        1.00  1.00
7    (Kidney Beans, Eggs)                (Onion)      0.6        0.75  1.25
8   (Kidney Beans, Onion)                 (Eggs)      0.6        1.00  1.25
9           (Eggs, Onion)         (Kidney Beans)      0.6        1.00  1.00
10                 (Eggs)  (Kidney Beans, Onion)      0.6        0.75  1.25
11                (Onion)   (Kidney Beans, Eggs)      0.6        1.00  1.25

In [25]:
res_2 = res_1[res_1['confidence']>=1]
res_2

              antecedents           consequents  support  confidence  lift
1                  (Eggs)        (Kidney Beans)      0.8         1.0  1.00
3                 (Onion)                (Eggs)      0.6         1.0  1.25
4                  (Milk)        (Kidney Beans)      0.6         1.0  1.00
5                 (Onion)        (Kidney Beans)      0.6         1.0  1.00
6               (Yoghurt)        (Kidney Beans)      0.6         1.0  1.00
8   (Kidney Beans, Onion)                (Eggs)      0.6         1.0  1.25
9           (Eggs, Onion)        (Kidney Beans)      0.6         1.0  1.00
11                (Onion)  (Kidney Beans, Eggs)      0.6         1.0  1.25

By doing this implementation we have learned how apriori algorithm works clearly.

In [ ]:
# The end ***********

In [1]:
pip install -U nbconvert

Requirement already satisfied: nbconvert in c:\users\travelmate\anaconda3\lib\site-packages (6.5.4)
Collecting nbconvert
  Downloading nbconvert-7.16.2-py3-none-any.whl (257 kB)
     -------------------------------------- 257.3/257.3 kB 7.7 MB/s eta 0:00:00
Requirement already satisfied: markupsafe>=2.0 in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (2.1.1)
Requirement already satisfied: defusedxml in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: tinycss2 in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (1.2.1)
Requirement already satisfied: jupyter-core>=4.7 in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (5.2.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (1.5.0)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (0.5.13)
Requirement already satisfied: bleach!=5.0.0 in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (4.1.0)
Requirement already satisfied: beautifulsoup4 in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (4.11.1)
Collecting mistune<4,>=2.0.3
  Downloading mistune-3.0.2-py3-none-any.whl (47 kB)
     ---------------------------------------- 48.0/48.0 kB ? eta 0:00:00
Requirement already satisfied: jinja2>=3.0 in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (3.1.2)
Requirement already satisfied: packaging in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (22.0)
Requirement already satisfied: nbformat>=5.7 in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (5.7.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (0.1.2)
Requirement already satisfied: pygments>=2.4.1 in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (2.11.2)
Requirement already satisfied: traitlets>=5.1 in c:\users\travelmate\anaconda3\lib\site-packages (from nbconvert) (5.7.1)
Requirement already satisfied: webencodings in c:\users\travelmate\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert) (0.5.1)
Requirement already satisfied: six>=1.9.0 in c:\users\travelmate\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert) (1.16.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\travelmate\anaconda3\lib\site-packages (from jupyter-core>=4.7->nbconvert) (2.5.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\travelmate\anaconda3\lib\site-packages (from jupyter-core>=4.7->nbconvert) (305.1)
Requirement already satisfied: nest-asyncio in c:\users\travelmate\anaconda3\lib\site-packages (from nbclient>=0.5.0->nbconvert) (1.5.6)
Requirement already satisfied: jupyter-client>=6.1.5 in c:\users\travelmate\anaconda3\lib\site-packages (from nbclient>=0.5.0->nbconvert) (7.3.4)
Requirement already satisfied: jsonschema>=2.6 in c:\users\travelmate\anaconda3\lib\site-packages (from nbformat>=5.7->nbconvert) (4.17.3)
Requirement already satisfied: fastjsonschema in c:\users\travelmate\anaconda3\lib\site-packages (from nbformat>=5.7->nbconvert) (2.16.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\travelmate\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert) (2.3.2.post1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\travelmate\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\travelmate\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (0.18.0)
Requirement already satisfied: entrypoints in c:\users\travelmate\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert) (0.4)
Requirement already satisfied: pyzmq>=23.0 in c:\users\travelmate\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert) (23.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\travelmate\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert) (2.8.2)
Requirement already satisfied: tornado>=6.0 in c:\users\travelmate\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert) (6.1)
Installing collected packages: mistune, nbconvert
  Attempting uninstall: mistune
    Found existing installation: mistune 0.8.4
    Uninstalling mistune-0.8.4:
      Successfully uninstalled mistune-0.8.4
  Attempting uninstall: nbconvert
    Found existing installation: nbconvert 6.5.4
    Uninstalling nbconvert-6.5.4:
      Successfully uninstalled nbconvert-6.5.4
Successfully installed mistune-3.0.2 nbconvert-7.16.2
Note: you may need to restart the kernel to use updated packages.